<div class="container-fluid p-0 m-0 w-100">
    <div class="intro1 row p-5 m-0 flex-lg-fill">
      <div class="info1 col-lg-6 col-sm-12  h-100 p-4 p-md-5 mb-5">
        <h1 class="row text-center">Scremer</h1>
        <p class="row">
          Scremer is a social feedback platform launched by Better Analytics Pvt Ltd, which allows users to securely share their complaints about brands or companies. With Scremer, users can voice their concerns about virtually anything and everything.
 
          Users can create and post complaints about anything that has left them dissatisfied, be it poor customer service, defective products, or unfair policies. These complaints can be shared either publicly (visible to all Scremer users) or privately (only visible to the tagged businesses and the person who submitted the complaint). Other users can show their support for public complaints by "screaming up."
           
          Scremer's algorithm selects and displays complaints based on users' interests on their homepage. We believe that Scremer is the go-to platform for individuals to research their potential purchases or subscriptions, as it allows them to gauge the experiences of previous genuine users.
           
        
        </p>
      </div>
      <div class="img1 col-lg-6 col-sm-12 pt-5">
         <img src="./../../../assets/images/frustrated-customer.svg"  alt="Frustrated Customer"/>
      </div>
    </div>
    <div class="m-o p-0 w-100">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#014064"
          fill-opacity="1"
          d="M0,128L80,128C160,128,320,128,480,149.3C640,171,800,213,960,218.7C1120,224,1280,192,1360,176L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
        ></path>
      </svg>
    </div>
    <div
      class="intro2 row p-5 m-0 d-flex align-items-center justify-content-center text-center"
    >
      <div class="img2 col-lg-6 col-sm-12">
         <img src="./../../../assets/images/Flying-iPhone.svg" class="img-fluid" alt="Flying-iPhone"/>
      </div>
        <div class="info2 col-lg-6 col-sm-12 justify-content-center">
          <h1>Tell us and we will make it heard</h1>
          <p>
            We also feature an in-house, machine-learning-based microservices engine integrated into our application. It observes a particular brand's interactions with consumers and generates an assurance score on a scale of 10. Users can access insights from previous user feedback.
           
            For businesses and brands, Scremer consolidates all customer issues related to their products on a single platform. This allows them to enhance customer retention by providing superior customer service. Our platform reduces their expenses, as businesses no longer need to heavily rely on voice processing customer care services. Our business portal serves as a modern CRM platform.
             
            Scremer also aids businesses by aggregating all complaints in one place and equipping them with the necessary tools to address and resolve these issues. Thus, Scremer assists businesses in maintaining customer retention, a vital metric in today's competitive environment.
          </p>
      
            <a href="https://www.scremer.com" target="_blank" >
              <button class="ms-auto mt-3 btn">
                Explore Scremer</button>
              
            </a>
       
      </div>
    </div>
  </div>
  


