<div class="bg-color mt-5 pt-5">
  <h1 class="text-center">Our Team</h1>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="d-flex mt-0">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[0]" alt="first image" />
          <h2 class="mt-2 mb-0">Priyanka</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[1]" alt="second image" />
          <h2 class="mt-2 mb-0">Alekya</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[2]" alt="third image" />
          <h2 class="mt-2 mb-0">Prasanna</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[3]" alt="first image" />
          <h2 class="mt-2 mb-0">Dhanush</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[4]" alt="second image" />
          <h2 class="mt-2 mb-0">Guna</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[5]" alt="third image" />
          <h2 class="mt-2 mb-0">Aditya</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[6]" alt="first image" />
          <h2 class="mt-2 mb-0">Manikandan</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[7]" alt="second image" />
          <h2 class="mt-2 mb-0">Harsha</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[8]" alt="third image" />
          <h2 class="mt-2 mb-0">Sai Krishna</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[9]" alt="first image" />
          <h2 class="mt-2 mb-0">Bhuvaneswari</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[10]" alt="second image" />
          <h2 class="mt-2 mb-0">Chaitanya</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[11]" alt="third image" />
          <h2 class="mt-2 mb-0">Janaki</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[12]" alt="first image" />
          <h2 class="mt-2 mb-0">Gayathri</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[13]" alt="second image" />
          <h2 class="mt-2 mb-0">Tejaswini</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[14]" alt="third image" />
          <h2 class="mt-2 mb-0">Jyothi</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[15]" alt="first image" />
          <h2 class="mt-2 mb-0">Manikanta</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[16]" alt="second image" />
          <h2 class="mt-2 mb-0">Hari Adimulam</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[17]" alt="third image" />
          <h2 class="mt-2 mb-0">Srikanth</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex">
        <div
        class="image-style d-flex justify-content-center flex-column align-items-center"
      >
        <img [src]="images[18]" alt="first image" />
        <h2 class="mt-2 mb-0">Meghana</h2>
        <p class="mt-0">Software Engineer</p>
      </div>

        <div
          class="image-style d-flex justify-content-center flex-column align-items-center"
        >
          <img [src]="images[19]" alt="second image" />
          <h2 class="mt-2 mb-0">Murthy</h2>
          <p class="mt-0">Software Engineer</p>
        </div>
        <div
      class="image-style-1 d-flex justify-content-center flex-column align-items-center"
    >
      <img [src]="images[18]" alt="first image" />
      <h2 class="mt-2 mb-0">User</h2>
      <p class="mt-0">Software Engineer</p>
    </div>
      </div>
     
    </ng-template>
  </ngb-carousel>
</div>
<div class="bg d-flex">
  <div class="content-item content-padding">
    <h2 class="text-center">Focus</h2>
    <p class="text-center">
      We have a 100% commitment to making all our sites the best they can
      possibly be, no matter what it takes to get there.
    </p>
  </div>
  <div class="content-item content-padding">
    <h2 class="text-center">Passion</h2>
    <p class="text-center">
      Our desire to produce good work runs deep-that's what lets us handle every
      project with fresh energy and enthusiasm.
    </p>
  </div>
  <div class="content-item content-padding">
    <h2 class="text-center">Team Work</h2>
    <p class="text-center">
      We are united with you in the drive to get the best from your project -
      think of us as extreme members of our team with all the skills you need.
    </p>
  </div>
</div>
