<div class="bg">
  <div id="about">
    <div class="header">
      <h3 class="main-heading text-center mb-0">Mission,Vision and Values</h3>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <mat-card
          class="col-12 col-md-3 m-4 card text-center justify-content-center align-items-center"
        >
          <em
            class="material-symbols-outlined material-icons icon1 text-center align-items-center"
          >
            rocket_launch
          </em>
          <h3 class="heading heading-font text-align-center">Mission</h3>
          <p class="para align-items-center">
            Provide the best communication solutions services to the clients and
            make them satisfy at the end of the day.Mission is to hold the
            vision.
          </p>
        </mat-card>

        <mat-card
          class="col-12 col-md-3 m-4 card text-center justify-content-center align-items-center"
        >
          <em
            class="material-symbols-outlined material-icons icon1 text-center align-items-center"
          >
            visibility
          </em>
          <h3 class="heading text-align-center">Vision</h3>
          <p class="para align-items-center">
            To make environment eco-friendly and preserve the natural resources
            to make eco-system balance.Each day, vision of what tomorrow might
            hold inspires us.
          </p>
        </mat-card>

        <mat-card
          class="col-12 col-md-3 m-4 card text-center justify-content-center align-items-center"
        >
          <em
            class="material-symbols-outlined material-icons icon1 text-center align-items-center"
          >
            volunteer_activism
          </em>
          <h3 class="heading text-align-center">Values</h3>
          <p class="para">What We Value</p>
          <ul class="d-inline-block text-left para">
            <li>Environment</li>
            <li>Work Place</li>
            <li>Human Rights</li>
            <li>Society</li>
          </ul>
        </mat-card>
      </div>
    </div>
  </div>
</div>
