<div class="mt-5 pt-2">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center align-items-center">
        <img [src]="images[0]" alt="first image" />
        <div class="content-style d-flex flex-column">
          <h2 class="text-center">Sri Harsha Baragada</h2>
          <h3 class="text-center">Managing Director</h3>
          <p class="text-center">
            Sri Harsha Baragada (Sri) is the co-founder and CEO of Scremer, a social complaint platform.
            He also serves as the managing director of Better Analytics Pvt. Ltd. 
            Sri is a passionate advocate for social change and firmly believes that social complaint platforms 
            like Scremer can have a positive impact on society by raising awareness of crucial issues and fostering positive change.
          </p>
          <p class="text-center">
            Prior to embarking on his entrepreneurial journey with Better Analytics, 
            Sri worked with clients such as American Express, Charles Schwab, Rabobank during his tenure at Infosys,
            and also gained experience at KLM Airlines before deciding to leave his job.
          </p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="bg d-flex">
    <div class="flex-item flex-padding">
      <h2 class="text-center">Passionate team builds the best products</h2>
      <p>
        We as a team believes that there is always a scope for improvement. With best-in-class technology and path
        defining algorithms our team always gives their best to build world class products. Better analytics was founded
        in July 2021 and since its inception everyone in the company working towards the common goal to make people life
        easier.
      </p>
      <p>
        Our team is only satisfied with the higher standards being it the coding or code coverage with the extensive
        usage of automated coding standards. So, we do automate most of the things in our day-to-day
        life as well.
      </p>
      <p>
        We have been excelling in the technologies like microservices, event driven architecture, cloud computing,
        machine learning, java, python. Our state of art UI development team and inhouse user experience (UX) team add
        more strength to our technology offering portfolio.
      </p>
    </div>
  </div>
  
</div>