.cam {
  background-image: url("/assets/images/laptop.jpg");
}
table {
  width: 100%;
}

.intro1 {
  background-color: #014064;
}

.info1 {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 25px black;
  margin-top: 12%;
}
