<div class="container-fluid p-0 m-0 w-100">
  <div class="intro1 row p-5 m-0">
    <div class="info1 col-lg-6 col-sm-12  h-100 p-4 p-md-5 mb-5">
      <h1 class="row text-center">Be Better with our Analytics</h1>
      <p class="row">
        We will make sure that you will be getting better products and enjoying
        quality services with every bit of our analysis. Our products will come
        with the right combination of power, data and consumer preferances.
      </p>
    </div>
    <div class="img1 col-lg-6 col-sm-12 pt-4">
      <img src="./../../../assets/images/Working remotely-bro.svg" />
    </div>
  </div>
  <div class="m-o p-0 w-100">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#014064"
        fill-opacity="1"
        d="M0,128L80,128C160,128,320,128,480,149.3C640,171,800,213,960,218.7C1120,224,1280,192,1360,176L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
      ></path>
    </svg>
  </div>
  -
  <div
    class="intro2 row p-5 m-0 d-flex align-items-center justify-content-center text-center"
  >
    <div class="img2 col-lg-6 col-sm-12">
      <img src="./../../../assets/images/Analysis-bro.svg" />
    </div>
    <div class="info2 col-lg-6 col-sm-12">
      <h1>We are here to revolutionize the way you look at the world</h1>
      <p>
        Every year billions of companies across the world are offering their
        products and services to 7.9 billion people across the globe. While most
        of the customers are enjoying, those on the flip side some are suffering
        because of the choice they made. We are here to make sure every product
        and service in this universe will be good enough to suite your need. Our
        products and platforms will run on advanced algorithms to help companies
        and businesses to offer even more Better experience.
      </p>
    </div>
  </div>
</div>
