<div class="ba-footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path
      fill="#d1e3ff"
      fill-opacity="1"
      d="M0,64L80,90.7C160,117,320,171,480,165.3C640,160,800,96,960,69.3C1120,43,1280,53,1360,58.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
    ></path>
  </svg>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div >
        <p><a routerLink="/scremer">Scremer</a></p>
        <p><a routerLink="/our-story">About us</a></p>
        <p><a routerLink="/about-us">Our team</a></p>
        <p><a routerLink="/mission">Mission</a></p>
        <p><a routerLink="/contact-us">Contact us</a></p>
      </div>
      <div >
        <p class="text-decoration">Policies and help:</p>
        <p><a routerLink="/terms">Terms and conditions</a></p>
        <p><a routerLink="/privacy">Privacy</a></p>
      </div>
      <div >
        <p class="text-decoration">Follow us:</p>
        <p>
          
          <a href="https://www.scremer.com/brand/Better%20Analytics" target="_blank">
            <i>
            <img src="./../../../assets/images/scremer-icon.svg" alt="Scremer Icon"  class="custom-icon "/>
            </i> Scremer
          </a>
        </p>
        <p>
          <a href="https://www.facebook.com/betteranalytics" target="_blank">
            <i class="fab fa-facebook me-2"></i> Facebook
          </a>
        </p>
        <p>
          <a href="https://twitter.com/AnalyticsBetter" target="_blank">
            <i class="fab fa-twitter me-2"></i>Twitter
          </a>
        </p>
        <p>
          <a href="https://www.instagram.com/betteranalytics/" target="_blank">
            <i class="fab fa-instagram me-2"></i> Instagram
          </a>
        </p>
        <p>
          <a
            href="https://www.linkedin.com/company/betteranalytics/"
            target="_blank"
          >
            <i class="fab fa-linkedin me-2"></i> Linkedin
          </a>
        </p>
      </div>
    </div>
  </div>
  <p class="text-center mb-0">
    <span> All Right Reserved by &copy;{{ year }}</span>

    <img
      src="assets/images/BetterAnalytics_250X250_T.png"
      style="width: 50px"
      alt="BetterAnalytics-Logo"
    />
    betteranalytics.in
  </p>
</div>
